<!DOCTYPE html >
<!--suppress HtmlFormInputWithoutLabel -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TODO app</title>
</head>
<body>
<form id="addForm">
    <label>
        Remember what?
        <input name="title" type="text">
    </label>
    <label>
        Done?
        <input name="done" type="checkbox">
    </label>
    <button type="submit">Add item</button>
</form>
<h3>Items</h3>
<ol>
    <li th:data="${item.id}" th:each="item: ${items}">
        <input th:checked="${item.done}" type="checkbox">
        <span th:text="${item.title}"></span>
    </li>
</ol>
<!--scripts-->
<script defer type="application/javascript">
    document.querySelector("#addForm").addEventListener("submit", (e) => {
        e.preventDefault();
        let formValues = {};
        const form = e.target;
        const fd = new FormData(form)
        for (let [name, value] of fd) {
            if (value === "on") value = true
            if (value === "off") value = false
            formValues[name] = value;
        }
        (async () => {
            const req = await fetch("/api/addItem", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(formValues)
            });
            if (req.status === 204) location.reload();
        })();
    })
</script>
</body>
</html>

